<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Vales</title>
</head>
<body>
    <ul>
        {% for emp in employee_list %}
            <li>
                <!-- <a href="{{ emp.pk }}/detalhes/">{{ emp.name }}</a> -->
                <a href="{% url 'detail_by_employee' emp.pk %}">{{ emp.name }}</a>
                <button type="submit">Novo vale</button>
            </li>
            {% endfor %}
        </ul>
</body>
</html>


